<div class="map"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
        <div class="map" style="background-image: url('https://www.neuf.tv/wp-content/uploads/2021/05/1621379202_798_Google-Maps-obtient-des-informations-dactivite-pour-les-zones-des.jpg')">
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card"></div>
      <div class="flat-show-card"></div>
      <div class="flat-show-card"></div>
    </div>
  </div>
</div>





















<%= link_to "Back", flats_path %>
