<div class="navbar d-flex justify-content-between" style="background-color:lightgrey">
    <h4><%= link_to "Simple AirBnB", flats_path, class:"mx-3 text-decoration-none", style:"color:black" %></h4>
    <%= link_to "Add a Flat", new_flat_path, class:"mx-3 btn btn-outline-primary" %>
</div>
